<h1>All Restaurants</h1>
<%= link_to 'Add new restaurant',restaurants_new_path %>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
